<main class="pt-4 px-2">
  <fs-profile-card
    [name]="profile().name"
    [handle]="profile().handle"
    [role]="profile().role"
    [avatarUrl]="profile().avatarUrl"
    [bannerUrl]="profile().bannerUrl"
    [verified]="profile().verified"
    [showActions]="profile().showActions"
    [links]="profile().links"
    [badges]="profile().badges"
    [stats]="profile().stats"
  />

  <div class="pt-4">
  <fs-tabs
    [tabs]="tabs"
    [(activeTab)]="activeTab"
  />
  </div>


  <div class="pb-4">
  @switch (activeTab()) {
    @case ('projects')   { <app-projects />   }
    @case ('experience') { <app-experience /> }
    @case ('about')      { <app-about />      }
  }
  </div>

</main>
