/* You can add global styles to this file, and also import other style files */
@use '@heroelc/fsociety/styles/tokens';
@use '@heroelc/fsociety/styles/mixins';

.fs-exp {
  --fs-exp-radius: 0 !important;
}

body{
  max-width: 724px;
  margin: 0 auto;
  background-color: #0D1117;
}
